body,
html {
  width: 100%;
  height: 100%;
}

/* IMPORTANDO FONTE */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

/* FUNDO */

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d9d9d9, #bfbfbf);
  /* Para afastamento, não colar nas bordas */
  padding: 20px;
}

/* CONTAINER */

#forgot-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  background: #d1d1d1;
  border-radius: 12px;
  border: 1px solid #000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 25px;
  overflow: hidden; /* evita a imagem sair do container */
}

#forgot-container::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../img/fundo_mar.png"); /* sua imagem */
  background-size: cover;
  background-position: center;

  opacity: 0.8; /* controla transparência da imagem */
  z-index: 0;
}

#forgot-container > * {
  position: relative;
  z-index: 1;
}

#forgot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  background: #d1d1d1;
  border-radius: 12px;
  border: 1px solid #000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 25px;
}

/* SETA */

#forgot-container #arrow-left {
  align-self: flex-start;
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
  transition: 0.2s;
}

#forgot-container #arrow-left:hover {
  transform: scale(1.1);
}

/* FORM CONTAINER */

#form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FORM */

#forgot-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000;
}

#forgot-form h3 {
  align-self: flex-start;
  margin-bottom: 12px;
  font-size: 20px;
}
