body,
html {
  height: 100%;
}

/* IMPORTANDO FONTE */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

/* FUNDO */

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d9d9d9, #bfbfbf);
}

/* CONTAINER LOGIN */
#login-container::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../img/fundo_mar.png"); /* sua imagem */
  background-size: cover;
  background-position: center;

  opacity: 0.8; /* controla transparência da imagem */
  z-index: 0;
}

#login-container > * {
  position: relative;
  z-index: 1;
}

#login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  background: #d1d1d1;
  border-radius: 12px;
  border: 1px solid #000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* SETA */

#arrow-left {
  align-self: flex-start;
  font-size: 24px;
  color: #000;
  padding: 20px 0 0 15px;
  transition: 0.2s;
}

#arrow-left:hover {
  transform: scale(1.1);
}

/* LOGO */

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  border-bottom: 2px double #000;
  padding: 20px;
}

/* FRASE */

#frase-login {
  font-family: "Fredoka", sans-serif;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  max-width: 260px;
  color: #222;
  font-weight: 600;
}

/* IMAGEM */

#logo-container img {
  width: 220px;
}

/* FORM */

#form-container {
  padding: 20px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000;
}

#title {
  align-self: flex-start;
  margin-bottom: 12px;
  font-size: 20px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

/* LEMBRAR SENHA */

#remember-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
  font-size: 14px;
}

#remember-me {
  display: flex;
  align-items: center;
  gap: 10px;
}

#remember-check {
  display: none;
}

/* SWITCH */

.switch {
  position: relative;
  background: #777;
  width: 32px;
  height: 18px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.slider {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: 0.3s;
}

#remember-check:checked ~ .switch {
  background: #ffc5d3;
}

#remember-check:checked ~ .switch .slider {
  transform: translateX(14px);
}

#remember-password a {
  text-decoration: none;
  color: #000;
}

#remember-password a:hover {
  text-decoration: underline;
}

/* BOTÃO */

#btn-submit {
  border: 1px solid #000;
  cursor: pointer;
  background: linear-gradient(135deg, #ffc5d3, #ffc5d3);
  padding: 9px;
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: 0.2s;
}

#btn-submit:hover {
  background: #ffc5d3;
  color: #fff;
}

/* CRIAR CONTA */

#link-account {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

#link-account:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 450px) {
  #logo-container {
    flex-direction: column;
  }

  #remember-password {
    justify-content: center;
    gap: 15px;
  }
}
